body {
    background-image: url('../img/seigaiha.png');
    font-family: "Helvetica Neue", "Yu Gothic", "游ゴシック", YuGothic, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
    color: #474a4d;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
    min-height: 50px;
    padding: 0px 20px;
    color: #474a4d;
}

.box {
    width: 100%;
    display: table;
}

.left-content {
  width: 30%;
  display: table-cell;
}

.right-content {
  width: 70%;
  display: table-cell;
}

.table {
    width: 100%;
    display: table;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.title {
    font-size: 20px;
    letter-spacing: 0.05em;
}

.display-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-icon {
    display: table-cell;
    vertical-align: middle;
    background-color: #6c5c96;
    color: #fff;
    padding: 10px;
}

.login-button {
    width: 100%;
    padding: 5px;
    border-style: none;
    border-radius: 3px;
    color: #fff;
    background-color: #22e89f;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.logout-button:hover,
.login-button:hover {
    text-decoration: none;
    background-color: #ff359a;
    transition: 0.3s;
}

.btn-black-pink,
.btn-black-green {
    background-color: #2f2725;
    color: #fff !important;
    border-radius: 3px;
    padding: 5px 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.btn-black-pink:hover {
    text-decoration: none;
    background-color: #ff359a;
    transition: 0.3s;
}

.btn-black-green:hover {
    text-decoration: none;
    background-color: #22e89f;
    transition: 0.3s;
}

.note,
.note:hover {
    color: #9a87be;
    text-decoration: none;
}

.decor {
    margin-top: 40px;
    height: 10px;
    background-color: #9a87be;
}

.btn-green {
    background-color: #22e89f;
    color: #fff !important;
    border-radius: 3px;
    padding: 5px 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.btn-green:hover {
    text-decoration: none !important;
}

.btn-purple {
    background-color: #6c5c96;
    color: #fff !important;
    border-radius: 3px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    min-width: 32px;
}

.btn-white {
    background-color: #fff;
    color: black !important;
    border-radius: 3px;
    padding: 5px 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.numerals {
    font-family: "Fugaz One", "cursive";
}

.strong_str {
    font-size: 20px;
}

label {
	padding-right: 15px;
}

footer {
	opacity: 0.5;
	min-height: 50px;
}

thead { border-top: hidden; }

.table {
	background: rgba(255, 255, 255, 0.8);
 	border-radius: 10px;
}

.content { min-height: calc(100vh - 70px); }

div.input.text, div.input.password, div.input.select, div.input.date, div.input.number, div.input.textarea {
	padding-bottom: 10px;
}

.form_contents {
	background: white;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
    padding: 30px;
}

.admin_contents {
	margin: 40px 0px 40px 40px;
	padding: 40px;
	background: rgba(255,255,255, 0.5);
}

.admin_contents2 {
	margin: 40px 40px 40px 0px;
	padding: 40px;
	background: rgba(255,255,255);
}

.btn {
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.error-message {
	color: #ff359a;
    text-align: right;
    font-size: 13px;
}

.form-error {
    border-color: #ff359a;
    background-color: #f7deea;
}

.caution {
	color: #006e54;
	padding-bottom: 10px;
}

.badge-confirm {
	display: inline-block;
    font-size: 12px;
    color: white !important;
    background-color: #22e89f;
    padding: 5px 10px;
    border-radius: 3px;
}

#admin_badge {
    color: white;
    background: #22e89f;
    padding: 2px 4px;
    border-radius: 2px;
}

#login_title {
    padding-top: 20px;
}

#request-details-area {
    background: rgba(255, 255, 255, 0.7);
    margin: 30px 30px 0px 0px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
    font-size: 14px;
}

#request-details-area a {
    font-size: 15px;
    margin-bottom: 10px;
}

#total_cost_area {
    background: rgba(255, 255, 255, 0.7);
    margin: 30px 30px 0px 0px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
}

#add_account_contents {
    background-color: #fff;
    margin: 20px;
    padding: 40px;
}

#add_account_form {
    margin-bottom: 20px;
}

#add-request-form {
    background-color: #fff;
    padding: 25px;
    margin: 20px;
}

text.timer { display: none; }

.height-middle {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.edit,
.delete {
    font-size: 12px;
    padding: 5px 9px;
}

#config_button  {
    color: gray;
    background: #e2e2e2;
    padding: 5px 10px;
    border-radius: 50%;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}

.parent {
    position: relative;
}

.parent p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    width: 100px;
    text-align: center;/*一応BOX内の文字も中央寄せ*/
}

.white-str {
    color: white;
}

.black-round {
    background: black;
    border-radius: 2px;
}
