body {
	background-color: #fff;
}

header {
	background-color: #c9171e;
	padding: 10px 20px;
}

footer {
	background-color: #c9171e;
	padding: 10px 20px;
}

div {
	/*background-color: pink;*/
}

#login_form {
	background-color: skyblue;
}

#pink_back {
	background-color: pink;
}
